dateparser==1.2.0
absl-py==2.1.0
pandas==2.2.3
filelock==3.16.1
idna==3.10
grpcio==1.68.0
pyasn1_modules==0.4.1
aiosqlite==0.19.0
Markdown==3.7
ujson==5.10.0
smmap==5.0.1
gymnasium==0.29.1
multidict==6.1.0
aiosignal==1.3.1
PyYAML==6.0.1
GitPython==3.1.43
urllib3==2.2.3
scikit-learn==1.3.0
google-auth-oauthlib==1.0.0
propcache==0.2.0
pandas_ta==0.3.14b0
pycryptodome==3.21.0
requests==2.32.3
frozenlist==1.5.0
pip==24.0
Jinja2==3.1.4
gitdb==4.0.11
sympy==1.13.3
six==1.16.0
mypy-extensions==1.0.0
Farama-Notifications==0.0.4
fsspec==2024.10.0
networkx==3.4.2
setuptools==75.5.0
pydantic_core==2.6.3
joblib==1.4.2
pycares==4.4.0
iniconfig==2.0.0
google-auth==2.36.0
black==23.7.0
attrs==24.2.0
certifi==2024.8.30
cffi==1.17.1
pycodestyle==2.11.1
asyncpg==0.28.0
pytest-asyncio==0.21.1
pyasn1==0.6.1
cachetools==5.5.0
threadpoolctl==3.5.0
pathspec==0.12.1
oauthlib==3.2.2
Werkzeug==3.1.3
kiwisolver==1.4.7
wandb==0.18.7
pydantic==2.3.0
aiohappyeyeballs==2.4.3
cloudpickle==3.1.0
yarl==1.17.2
pyflakes==3.1.0
regex==2024.11.6
pytest==7.4.0
ta-lib==0.5.1
aiohttp==3.11.2
python-dateutil==2.9.0.post0
mpmath==1.3.0
aiodns==3.2.0
pytz==2024.2
mccabe==0.7.0
rsa==4.9
flake8==6.1.0
packaging==24.2
tzlocal==5.2
pillow==11.0.0
torch==2.2.2
stable-baselines3==2.1.0
pycparser==2.22
cycler==0.12.1
websockets==14.1
pluggy==1.5.0
python-binance==1.0.19
python-dotenv==1.0.0
psutil==6.1.0
numpy==1.26.0
docker-pycreds==0.4.0
contourpy==1.3.1
typing_extensions==4.12.2
scipy==1.14.1
charset-normalizer==3.4.0
protobuf==5.28.3
tensorboard-data-server==0.7.2
ccxt==4.4.24
tzdata==2024.2
cryptography==41.0.3
tensorboard==2.14.0
platformdirs==4.3.6
fonttools==4.55.0
setproctitle==1.3.4
annotated-types==0.7.0
matplotlib==3.7.2
wheel==0.45.0
pyparsing==3.0.9
seaborn==0.12.2
requests-oauthlib==2.0.0
click==8.1.7
sentry-sdk==2.18.0
MarkupSafe==3.0.2
